/*
  Greg Vincent
  May 2023
*/

/*General Styling and Desktop Styling*/

.CF-Container {
  margin-top: 5vh;
  margin-bottom: 5vh;
}
.CF-Container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-hovering {
  transition: 0.5s;
  background-color: darkgrey;
}

.btn-not-hovering {
  transition: 0.5s;
  background-color: black;
  color: white;
  border-radius: 10px;
}

.CF-Container input {
  width: 20vw;
  height: 4.5vh;
  margin-bottom: 2vh;
  font-size: 1.05vw;
}

.CF-Container input::placeholder {
  padding-top: 0.5vw;
  padding-left: 0.5vw;
  font-size: 0.9vw;
}

.CF-Container textarea {
  width: 20vw;
  height: 10vh;
  resize: none;
  font-size: 1.05vw;
}

.CF-Container textarea::placeholder {
  padding-top: 0.5vw;
  padding-left: 0.5vw;
  font-size: 0.9vw;
}

.CF-Container button {
  width: 20.5vw;
  margin-top: 1vh;
}

.not-usable {
  opacity: 20%;
  pointer-events: none;
}

/*Mobile specifications*/
@media only screen and (max-width: 420px) {
  .CF-Container input {
    width: 70vw;
    padding: 1.5vw;
    margin-bottom: 0.5rem;
    border: none;
    background-color: inherit;
    border-bottom: 1px solid white;
  }
  .CF-Container textarea {
    resize: none;
    width: 68vw;
    padding: 1.5vw;
    margin-bottom: 0.5rem;
    border: 1px solid white;
    background-color: inherit;
  }

  .CF-Container button {
    width: 72vw;
    padding: 1.5vw;
    margin-bottom: 0.5rem;
  }

  .CF-Container h1 {
    font-size: 8vw;
  }
}

/*Medium screen sizes and tablets*/
@media only screen and (min-width: 430px) and (max-width: 1300px) {
  .CF-Container input {
    width: 70vw;
    padding: 1.5vw;
    border: none;
    background-color: inherit;
    border-bottom: 1px solid white;
  }

  /*Name and Email Input*/
  #name {
    margin-bottom: 3vh;
  }

  #email {
    margin-bottom: 3vh;
  }

  #message {
    margin-top: 1vh;
    width: 70vw;
  }

  .CF-Container input::placeholder {
    font-size: 4vw;
  }

  .CF-Container textarea::placeholder {
    font-size: 3.5vw;
  }

  .CF-Container textarea {
    resize: none;
    width: 68vw;
    padding: 1.5vw;
    margin-bottom: 2vh;
    border: 1px solid white;
    background-color: inherit;
    font-size: 3.5vw;
  }

  .CF-Container button {
    width: 74vw;
    padding: 1.5vw;
    margin-bottom: 0.5rem;
    font-size: 3vw;
    border-radius: 10px;
  }
}
