/*General Rules/Desktop Specification*/
.HP-container {
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

.HP-container p {
  padding: 2rem;
  text-align: left;
}
.HP-container h1 {
  text-align: center;
  white-space: nowrap;
  font-size: 8vw;
}

.HP-container h1 em {
  font-size: 1.2rem;
}

.HP-container ul {
  text-align: left;
  list-style: none;
  white-space: nowrap;
  font-style: italic;
  /* padding: 0; */
  margin: 0;
  padding-left: 2rem;
}

/*Mobile Specifications*/
@media only screen and (max-width: 415px) {
  .HP-container h1 em {
    white-space: normal;
    font-size: 4.5vw;
  }
  .HP-container p {
    font-size: 5vw;
    margin-bottom: 2px;
  }

  .HP-container ul {
    font-size: 4.7vw;
    margin-top: 2px;
    /* margin-bottom: 4vw; */
  }

  .HP-container {
    margin-bottom: 6rem;
  }
}

/*Tablet Specifications*/
@media only screen and (min-width:430px) and (max-width:1300px){
  .HP-container h1 em {
    font-size: 4vw;
    white-space: normal; 
  }

  .HP-container{
    margin-bottom: 15vh;
  }

  .HP-container p{
    text-align: center;
    font-size: 4vw;
  }
  
  .HP-container ul{
    text-align: center;
    font-size: 4vw;
  }
} 