/*General Rules/Desktop Specification*/
.HP-container {
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

.HP-container p {
  padding: 2rem;
  text-align: left;
  font-size: 1.5vw;
  margin-left: 12vw;
  margin-right: 12vw;
}
.HP-container h1 {
  text-align: center;
  white-space: nowrap;
  font-size: 8vw;
}

#tagline {
  font-size: 2vw;
  margin-top: -4vh;
}

.HP-container ul {
  text-align: center;
  list-style: none;
  white-space: nowrap;
  font-style: italic;
  font-size: 1.8vw;
  margin: 0;
  padding-left: 2rem;
}

/*Mobile Specifications*/
@media only screen and (max-width: 415px) {
  .HP-container h1 em {
    white-space: normal;
    font-size: 4.5vw;
  }

  .HP-container p {
    font-size: 5vw;
    margin-bottom: 1vh;
    width: 70%;
  }

  .HP-container ul {
    margin-right: 5vw;
    font-size: 4.7vw;
  }

  .HP-container {
    margin-bottom: 6rem;
  }

  .HP-container h1 {
    margin-bottom: 6vh;
  }

  #tagline {
    margin-bottom: -4vh;
  }
}

/*Tablet Specifications*/
@media only screen and (min-width: 430px) and (max-width: 1300px) {
  .HP-container h1 em {
    font-size: 4vw;
    white-space: normal;
  }

  .HP-container {
    margin-bottom: 15vh;
  }

  .HP-container p {
    text-align: center;
    font-size: 4vw;
  }

  .HP-container ul {
    text-align: center;
    font-size: 4vw;
    margin-right: 5vw;
  }

  .HP-container h1 {
    margin-bottom: 6vh;
  }
}
